OPENAI_API_KEY=YOURE_OPENAI_API_KEY
ALPHAVANTAGE_API_KEY=YOUR_ALPHAVANTAGE_API_KEY
NVM_API_KEY=YOUR_NVM_API_KEY
PLAN_ID=YOUR_PLAN_ID
AGENT_ID=YOUR_AGENT_ID

# For testing
NVM_API_KEY_SUBSCRIBER=YOUR_NVM_API_KEY_SUBSCRIBER